$white: #ffffff;
$black: #000;
$gray_txt: #707070;

$gold: #9b7442;

$pink: #EE6B7F;
$pink_txt: #ee6a7f;
$pink_bg: #F29FAB;

$blue: #7FCCDB;
$blue_txt: #7FCDE0;
$blue_bg: #B2DEEA;

$dark_blue_txt: #151F45;
$brown_txt: #5C3B06;
$main_orange: #FFCB00;
$main_gray:#989898;
$main_white:#F7F7F7;
