@mixin font-face($name, $path, $transform: null, $weight: null, $exts: ttf otf) {
  $src: null;

  $extmods: ( // eot: "?#iefix",
      // svg: "#" + str-replace($name, " ", "_")
    );

  $formats: (otf: "opentype",
      ttf: "truetype",
      woff:"woff"
    );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    text-transform: $transform;
    font-weight: $weight;
    src: $src;
  }
}
