@import "modules/breakpoint";
@import "modules/positions";
@import "modules/fontface";

@import "modules/typography";
@import "modules/colors";
@import "modules/mixins";
@import "modules/base";

@import "./header.scss";
@import "./home.scss";

.App {
  width: 100%;
  height: 100vh;
}
